version: 2.1

jobs:
  run_uploader:
    machine: true
    steps:
      - checkout
      - run:
          name: Run Qodana Configuration Uploader
          command: |
            docker run --rm \
              -v "$(pwd)":/workspace \
              -w /workspace \
              -e QODANA_CONFIGURATIONS_TOKEN="$QODANA_CONFIGURATIONS_TOKEN" \
              -e QODANA_ENDPOINT="https://web.cloud.sssa-stgn.aws.intellij.net" \
              jetbrains/qodana-configuration-uploader:latest \
              --global-configs-file qodana-global-configurations.yaml \
              --qodana-host  web.cloud.sssa-stgn.aws.intellij.net

workflows:
  version: 2
  main:
    jobs:
      - run_uploader
